*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 1.7rem;
    gap:0.7rem;
}

header nav ul a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

header nav ul a:hover{
    text-decoration: underline;
    color: black;
}

header h1{
    color: white;
    padding-left: 10px;
}

.p{
    color: white;
    padding: 10px;
    margin-left: 41%;
    margin-top: 20px;
}

body{
    background-image: linear-gradient(to top, green, white, white, white, green);
}

.cor{
    width: 20px;
    border-radius: 100px;
}

#imagehome{
    border: solid 5px black;
    border-radius: 30px;
    width: 600px;
    height: 400px;
}

.h3{
    color: white;
    text-decoration: none;
    margin-left: 46%;
    margin-top: 30px;
}
#a:hover{
    color: black;
    text-decoration: underline;
}
.button{
    justify-content: center;
    width: 200px;
    height: 50px;
    background: white;
    border-radius: 50px;
    color:black;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 10px;
    font-size: large;
}
.button:hover{
    background: black;
    color: white;
}
.div{
    margin-left: 35%;
    width: 1500px;
}

.p{
    color: white;
    padding: 10px;
    margin-left: 41%;
    margin-top: 20px;
}
#table{
    margin-left: 14%;
    margin-bottom: 100px;
    border-color: black;
}

#img_table{
    margin: 30px;
    border: solid 5px black;
    border-radius: 30px;
}