*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #041944;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main{
    width:450px;
    background: pink;
    border: 2px solid #dd00ff;
    border-radius: 10px;
}
header h1{
     display:flex;
     justify-content: center;
     align-items: center;
     color: #041944;
     margin-bottom: 20px;
}
.form{
    padding: 0 40px 30px;
}
.controle{
    padding-bottom: 20px;
    position: relative;
}

.controle label{
    display: inline-block;
    color:#041944;
    font-weight: 900;
}

.controle input{
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 60%;
    height: 30px;
    font-size: 1rem;
    padding: 10px;
}

.controle.error i.error{
    visibility: visible;
}

.controle.sucesso i.sucesso{
    visibility: visible;
}
.controle.error small{
    color:#730A0A;
    font-size: 11px; /* 1rem equivale a 16px*/
    visibility: visible;
}
.controle i{
    position: absolute;
    top:4px;
    right: 10px;
    visibility: hidden;  
}
.controle small{
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 10px;
    color:#730A0A;
}
.form button{
    width: 70%;
    height: 30px;
    border-radius: 20px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    background: #730A0A;
    color:#fff;
    margin-left: 50px;
}
.form button:hover{
    background: #041944;
    color:#fff;
    box-shadow: 10px 10px 10px blue;
}