*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    height: 90px;
    align-items: center;
}

header h1{
    color: white;
    padding-top: 10px;
    justify-self: center;
    text-decoration: underline;
    margin-top: 20px;
}

header div{
    justify-self: center;
    align-items: center;
    padding-top: 20px;
}

.cor1{
    width: 20px;
    border-radius: 100px;
}

.cor2{
    width: 20px;
    border-radius: 100px;
}

.cor3{
    width: 20px;
    border-radius: 100px;
}

.cor1:hover{
    background-color: #1be3e0;
}

.cor2:hover{
    background-color: #48c97e;
}

.cor3:hover{
    background-color: #9f2145;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-self: center;
    align-items: center;
    padding: 1.7rem;
    gap: 20px;
}

header nav ul a{
    color: white;
    text-decoration: none;
    border: solid white;
    border-radius: 20px;
    padding: 5px;
    font-size: 1.3rem;
}

header nav ul a:hover{
    text-decoration: underline;
    color: black;
    border-color: black;
    background-color: #ffffff;
}

body{
    background-image: linear-gradient(to bottom, #008000, #008000, #ffffff, #ffffff, #ffffff, #ffffff, #04b8cf);
}

footer nav ul{
    display: flex;
    list-style: none;
    justify-self: center;
    align-items: center;
    margin-top: 140px;
    padding: 1.7rem;
    gap: 20px;
}

footer nav ul a{
    color: white;
    text-decoration: none;
    border: solid white;
    border-radius: 20px;
    padding: 5px;
    font-size: 1.3rem;
}

footer nav ul a:hover{
    text-decoration: underline;
    color: black;
    border-color: black;
    background-color: #ffffff;
}

table{
    max-width: 650px;
    justify-self: center;
}

#tr1{
    margin-top: 150px;
}

#tr2{
    margin-top: 30px;
}

#tr3{
    margin-top: 30px;
}

.title{
    text-transform: uppercase;
    font-size: larger;
    font-weight: 1000;
}

.text{
    font-size: large;
}